@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student System</h1>
    <img src="~/Imgs/Logo.png" />
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Application Developed By</h2>

        <ul>
            <li><h4>Student Full Name</h4></li>
            <li></li>

            <br />

            <li><h4>Student ID</h4></li>
            <li></li>

            <br />
            <li><h4>Student Full Name</h4></li>
            <li> </li>

            <br />







        </ul>

    </div>
    <div class="col-md-4">
        <h2>Contact Details Of Student</h2>

        <ul>
            <li><h4>Mobile Phone</h4></li>
            <li></li>

            <br />

            <li><h4>Student Email</h4></li>
            <li>student@abc.com</li>

            <br />
            <li><h4>Student Full Name</h4></li>
            <li></li>

    </div>
    <div class="col-md-4">
        <h2>Diploma in Software Design</h2>

    </div>
</div>